<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cosy Console{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">  
</head>
<body>
    <header>
      <img src="{{ url_for('static', filename='image/banner.png') }}" alt="Cosy Console Banner" class="header-banner">
      <nav class="main-nav">
        <a href="/"class="{% if request.path=='/' %}active{% endif %}">☕ Home</a> |
        <a href="/catalogue" class="{% if 'catalogue' in request.path %}active{% endif %}">🎮 Catalogue</a> |
        <a href="/game/new" class="{% if 'game/new' in request.path %}active{% endif %}">➕ Add Game</a> |
        <a href="/wishlist"  class="{% if 'wishlist' in request.path %}active{% endif %}">🤍 Wishlist</a> |
        <a href="/by-genre"  class="{% if 'by-genre' in request.path %}active{% endif %}">🎧 By Genre</a> |
        <a href="/analytics" class="{% if 'analytics' in request.path %}active{% endif %}">📊 Analytics</a>
      </nav>
    </header>
  
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
  
    <footer>
      <p>&copy; 2025 Cosy Console. All rights reserved. 🧸</p>
    </footer>
  </body>
</html>