<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosy Catalogue</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>

<!-- ===================================
        HEADER & NAVIGATION
        =================================== -->
    <header>
        <h1>Cosy Console</h1>
        <nav class="main-nav">
            <a href="/" class="{% if request.path == '/' %}active{% endif %}"> ☕ Home</a> |
            <a href="/catalogue" class="{% if 'catalogue' in request.path %}active{% endif %}">🎮 Catalogue</a> |
            <a href="/game/new" class="{% if 'game/new' in request.path %}active{% endif %}"> ➕ Add Game</a> |
            <a href="/wishlist"   class="{% if 'wishlist' in request.path %}active{% endif %}"> 🤍 Wishlist</a> |
            <a href="/by-genre" class="{% if 'by-genre' in request.path %}active{% endif %}">🎧 Games by Genre</a>
         </nav>
    </header>

<!-- ===================================
        MAIN FORM AREA
        =================================== -->
    <main>
        <h2> Game Catalogue 🎮</h2>

        <!-- mini stats pills-->
        <section class="mini-stats">
            <span class="stat-pill">🎮 {{ stats.total }} Games in Catalogue</span>
            <span class="stat-pill">🕹️ {{stats.playing}} Games in Progess</span>
            <span class="stat-pill">✅ {{ stats.completed_pct }}% Complete</span>
            <span class="stat-pill">🤍 {{ stats.wishlist }} Wishlist</span>
        </section>

        <!--search and filters form-->
        <form class="search-form" method="get" action="/catalogue">
            <input type="text" name="title" placeholder="Search by Title..." value="{{ request.args.get('title','') }}">
            <!-- platform dropdown-->
            <select name="platform">
                <option value="">All Platforms</option>
                <option value="PS5" {% if request.args.get('platform')=='PS5' %}selected{% endif %}>PS5🎮</option>
                <option value="XBOX" {% if request.args.get('platform')=='XBOX' %}selected{% endif %}>XBOX🟩</option>
                <option value="PC" {% if request.args.get('platform')=='PC' %}selected{% endif %}>PC💻</option>
                <option value="Nintendo Switch" {% if request.args.get('platform')=='Nintendo Switch' %}selected{% endif %}>Nintendo Switch🔲</option>
                <option value="OTHER" {% if request.args.get('platform')=='OTHER' %}selected{% endif %}>OTHER🕹️</option>
              </select>

            <!-- genre dropdown-->
            <select name="genre">
                <option value="">All Genres</option>
                <option value="RPG" {% if request.args.get('genre')=='RPG' %}selected{% endif %}>RPG⚔️</option>
                <option value="Action" {% if request.args.get('genre')=='Action' %}selected{% endif %}>Action💥</option>
                <option value="Adventure" {% if request.args.get('genre')=='Adventure' %}selected{% endif %}>Adventure🗺️</option>
                <option value="Simulation" {% if request.args.get('genre')=='Simulation' %}selected{% endif %}>Simulation🖥️</option>
                <option value="Strategy" {% if request.args.get('genre')=='Strategy' %}selected{% endif %}>Strategy♟️</option>
                <option value="PVP" {% if request.args.get('genre')=='PVP' %}selected{% endif %}>PVP🤝</option>
                <option value="Shooter" {% if request.args.get('genre')=='Shooter' %}selected{% endif %}>Shooter🔫</option>
                <option value="Racing" {% if request.args.get('genre')=='Racing' %}selected{% endif %}>Racing🏁</option>
                <option value="OTHER" {% if request.args.get('genre')=='OTHER' %}selected{% endif %}>OTHER🕹️</option>
              </select>

            <!-- status dropdown-->
            <select name="status">
                <option value="">All Statuses</option>
                <option value="Not Started" {% if request.args.get('status')=='Not Started' %}selected{% endif %}>Not Started🌱</option>
                <option value="In Progress" {% if request.args.get('status')=='In Progress' %}selected{% endif %}>In Progress☕</option>
                <option value="Complete" {% if request.args.get('status')=='Complete' %}selected{% endif %}>Complete🌟</option>
              </select>
            <button type="submit">Search</button>
        </form>

        <!--catalogue table-->
        <table class="catalogue-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Platform</th>
                    <th>Genre</th>
                    <th>Status</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{game.title}}</td>
                    <td>{{game.platform}}</td>
                    <td>{{game.genre}}</td>
                    <td>{{game.status}}</td>
                    <td> <a href="/game/{{game.id}}">View Details</a> </td>
                    <td>
                        <button class="btn delete-btn" data-gameid="{{game.id}}">Delete</button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No games found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

<!-- ===================================
        FOOTER
        =================================== -->
    <footer>
        <p>&copy; 2025 Cosy Console. All rights reserved.🧸</p>
    </footer>

<!-- =======================================
       SCRIPTS - DELETE GAME & BACK TO TOP
       ======================================== -->  
    <script>
        // delete game script
        document.addEventListener('DOMContentLoaded', function() {
            const deleteButtons = document.querySelectorAll('.delete-btn');

            deleteButtons.forEach((button) => {
                button.addEventListener('click', function() {
                    if (confirm("Are you sure you want to delete this game? :(")) {
                        const gameId = button.getAttribute('data-gameid');
                        fetch(`/games/${gameId}`, {
                            method: 'DELETE'
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            const row = button.closest('tr');
                            if (row) {
                                row.remove();
                            }
                        })
                        .catch(error => console.error('Error deleting game:', error));
                    }
                });
            });
        });
    </script>
    <button id="backToTop" class="back-to-top">Back to Top🤗</button>
    <script>
        // back to top button script
        const backBtn = document.getElementById('backToTop');
        window.addEventListener('scroll', () => {
          if (window.scrollY > 300) backBtn.classList.add('show');
          else backBtn.classList.remove('show');
        });
        backBtn.addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
</body>
</html>