<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosy Console - Home</title>
    <!-- link to the external CSS file for basic styling-->
     <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
     <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
    <header>
        <!-- main header for the homepage-->
         <h1>Cosy Console</h1>
         <nav>
            <!-- navigation links (will update as more pages are added)--> 
             <a href="/">Home</a> |
             <a href="/games">Catalogue</a> |
             <a href="/game/new">Add Game</a>
         </nav>
    </header>

    <main> 
        <!-- welcome section on the homepage-->
        <h2>Welcome to Cosy Console!</h2>
        <blockquote> "Your personal haven for all things gaming! Here you can relax, discover, and manage your game collection with ease. Grab a comfy seat, unwind, and let's play!" </blockquote>
        <!-- placeholder for future dynamic content (e.g., list of games?)-->
        <!---catalogue overview section-->
        <section id="catalogue-overview">
            <h3>Catalogue Overview</h3>
            <div class="game-grid">
                {% for game in games %}
                <div class="game-card">
                    <h4>{{game.title}}</h4>
                    <p><stong>Platform:</stong> {{game.platform}} </p>
                    <p><stong>Genre:</stong> {{game.genre}} </p>
                    <a href="/game/{{game.id}}">View Details</a>
                </div>
                {% endfor %}
            </div>
        </section>
       
        </div>
        <div id="game-list">
            <!-- AJAX calls or server-sided rendering later?-->
        </div>
    </main>

    <footer>
        <!-- footer with basic copyright information?-->
        <p>&copy; 2025 Cosy Console. All rights reserved.</p>
    </footer>
</body>
</html>