<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosy Console - WIshlist</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
    <header>
        <h1>Cosy Console</h1>
        <nav class="main-nav">
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">☕ Home</a> |
            <a href="/catalogue" class="{% if 'catalogue' in request.path %}active{% endif %}">🎮Catalogue</a> |
            <a href="/game/new" class="{% if 'game/new' in request.path %}active{% endif %}">➕Add Game</a> |
            <a href="/wishlist"   class="{% if 'wishlist' in request.path %}active{% endif %}">🤍Wishlist</a> |
            <a href="/by-genre" class="{% if 'by-genre' in request.path %}active{% endif %}"> 🎧 Games by Genre</a>
         </nav>
    </header>
    <main>
        <h2> Wishlist 🤍 </h2>
        <p>Games on Hold⏳ Paused on your backlog? These are the ones you'll dive into next!</p>
        {% if games %}
            <div class="game-grid">
                {% for game in games %}
                    <div class="game-card">
                        <h4> {{game.title}} </h4>
                        <p><strong>Platform:</strong> {{game.platform}}</p>
                        <p><strong>Genre:</strong> {{game.genre}}</p>
                        <a href="/game/{{game.id}}"> View Details</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No games on your wishlist :( Go add some! </p>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2025 Cosy Console. All rights reserved.🧸</p>
    </footer>
</body>
</html>