#Ignore virtual environments
venv/
.env

#Python bytecode
__pycache__/
*.py[cod]
*$py.class

#SQLite database
*.db

#Flask instance folder & caches
instance/
.webassets-cache

#IDE/editor settings
.vscode/
*.swp
*.swo

#Logs and coverage
*.log
coverage.*
htmlcov/

#Distribution / packaging
build/
dist/
*.egg-info/

#Static
uploads/